/*!
    Theme Name: Сагуновка
    Theme URI: https://bitbucket.org/chiz-developer
    Description: Сайт сагуновского сельского совета
    Author: >>Chiz-developer
    Author URI: https://bitbucket.org/chiz-developer
    Version: 1.0
    License: Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0) 
    License URI: http://creativecommons.org/licenses/by-sa/3.0/

*/

.y-bg {background: #ffd200!important;}
.o-bg {background: #FF9C51!important;}
.g-bg {background: #ccc!important;}
.l-bg {background: #F5F5F5!important}

.text-grey   {color: #ccc;}
.text-yellow {color: #ffd200!important;}
.text-orange {color: #D2AD04!important;}
.text-white  {color: #fff!important}

.y-border {border: solid 1px #ffd200;}

/* -----FONT SIZE----- */
.fs1 {font-size: 2.4vw;}
.fs2 {font-size: 1.5vw;}
.fs3 {font-size: 1.1vw;}
@media only screen and (max-width:991px) {
    .fs1 {font-size: 2.5vw;}
    .fs2 {font-size: 2vw;}
    .fs3 {font-size: 1.5vw;}    
}
@media only screen and (max-width:750px) {
    .fs1 {font-size: 3vw;}
    .fs2 {font-size: 2.5vw;}
    .fs3 {font-size: 2vw;}
}

@media only screen and (max-width:543px) {
    .fs1 {font-size: 1.5rem;}
    .fs2 {font-size: 1rem;}
    .fs3 {font-size: 0.8rem;}
}

.b { font-weight: 800;}

.no-margin {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.responsive {
    max-width: 100%;
}
.right  { text-align: right;}
.left  { text-align: left!important;}
.center { text-align: center;}
.justify { text-align: justify;}
.filter-underline {border-bottom: solid 2px #999;}

.text-shadow {text-shadow: 2px 2px 2px #666;}

/* ======== SETTINGS ======== */
html, body {
    min-width: 320px;
    overflow-x: hidden;
}
a:hover, a:focus, a {
    text-decoration: none;
    color: #000;
}
.container-inner .row {
    margin-left: 0!important;
    margin-right: 0!important;
}
.container-inner .row > div {
    padding-left: 0!important;
    padding-right: 0!important;
}
p {
    text-align: justify;
}
.nobmargin {
    margin-bottom: 0;
}
span.line {
    width: 17%;
    
    display: block;
    margin: 0 auto 2vw;
}
.rounded {
    border-radius: 50%;
    display: block;
    width: 13vw;
    height: 13vw;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.i-b {
    display: inline-block;    
    text-align: center;
    width: 45%;
    margin-top: 2em;
}
.row.small-icons .i-b {
    display: inline-block;
    margin: 1em 0 0;    
    width: 18%;
    vertical-align: bottom;
}
.row.small-icons .i-b img {
    width: 30%;
}
.block-center {
    display: block;
    float: none;
    margin-left: auto !important;
    margin-right: auto !important;
}

.h {
    cursor: pointer;
}
.h:hover {
    background: #ffd200;
}
.line::after {
    background: #ffd200;
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    margin-bottom: 0.5em;
}

/* =======##### end settints ####====== */





/* ======== TOP MENU ======== */
.navbar {
    border-radius: 0px!important;  
    padding: 0px;
    position: relative;
    z-index: 2;
}
.navbar ul {
    float: right;
    margin-right: 4vw;
    position: relative;
    z-index: 3!important;
}
.navbar ul li {
  padding: 19px 1vw;
  font-weight: 700;
  margin: 0!important;
}
#topMenu ul li a {
    color: #444;
}
#topMenu ul li.active a {
    color: #fff;  
}

button.navbar-toggler {
    float: right;
    margin: 0.9em;
}
.logo {
    position: absolute;
    left: 4vw;
    top: 12%;
    width: 20%;
    z-index: 2;
}
header {
    box-shadow: 0px 0 5px #000;
    display: block;
    z-index: 1;
    position: relative;
}

.persephone.tparrows {
    border: 1px solid #ffd200!important;
}

.persephone.tparrows::before {
    color: #ffd200!important;
}
/* ======== submenu =========== */
#header_submenu > div {
    padding: 0;
}
#header_submenu.other .submenu-items {
    padding: 2em 1%;
}

#header_submenu .submenu-items {
    padding: 20px 1%;
}
#header_submenu.other .submenu-items.active {
    background: #ffd200;
}
#header_submenu .title p {
    margin-bottom: 0;
}
#header_submenu .submenu-items {    
    display: block;
    float: left;
    margin: 0;
    width: 20%;
}

/* =========== content ========== */
section {
    padding-top: 4vw;
    padding-bottom: 1vw;
}


/* ========== MAIN PAGE ============ */
.tabs.title{
    width: 80%;
    padding: 2em 4em;
    margin-right: 0;
    margin-left: auto;
    cursor: pointer;
}
.triangle {
	width: 0;
	height: 0;
	border-top: 2vw solid transparent;
	border-left: 2vw solid #ffd200;
	border-bottom: 2vw solid transparent;
    position: absolute;
    right: 0;
    visibility: hidden;
}
.active .triangle {
    visibility: visible;
}
.tabs.content {
    display: none!important;
}
.tabs.content.active {
    display: block!important;
}

/* =========== Rada ============= */
.h-member {
    margin-top: 3em;
}
.h-member:nth-child(1), .h-member:nth-child(3){
    margin-top: 7em;
}

/* =========== Footer ============ */
#organy_vlady.small-icons {
    box-shadow: 0 2px 2px #777;
    position: relative;
}
#form input, #form textarea {
    border: none;
    border-bottom: solid 1px #D2AD04;
}
#form input {
    display: block;
    margin-top: 1.5em;
    padding: 1em;
    width: 100%;
}
#form textarea {
    display: block;
    height: 16.7em;
    margin-top: 1.5em;
    padding: 1em;
    width: 100%;
}
#form .wpcf7-submit {
    margin-top: 0em;
    padding: 1.6em;
}

#footer {
    background: #F2F2F2;
}
#footer .icons a {
    color: #ccc;
    font-size: 2vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.footer-links.center {
    padding-left: 0;
}
.footer-links li {
    display: inline-block;
    padding-right: 1em;
}

.icons a {
border-radius: 50%;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
}

.icons a:hover {
    background: #ccc none repeat scroll 0 0;
    border: 1px solid;    
    color: #fff !important;
    font-size: 2em !important;

}





/* ============= Documents ======== */
.docs-item {
    display: inline-block;    
    width: 32.7%;
    margin-top: 5vw;
    vertical-align: top;
}
.wp-pagenavi {
    clear: both;
    margin-top: 2em;
    text-align: center;
}
.wp-pagenavi a, .wp-pagenavi span {    
    border-radius: 50%;
    color: #777;    
    padding: 3px 9px!important;    
}
span.current {
    background: #999;
    border-color: #444;
    color: #fff;
}
.wp-pagenavi span.pages {
    border: none;
}

/* ============ Vacancies ========== */
.vacancy-item {
    display: block;
    margin-bottom: 5vw;
}
.vacancy-item .line {
    
    margin-bottom: 8px;
    width: 50%;
}

/* ========== Announcements ========== */
.announcement-item {
    display: inline-block;
    margin-bottom: 5vw;
    padding: 12px;
    width: 24.4%;
    vertical-align: top;
}
.announcement-item:hover p.fs2 {
    box-shadow: 0 0 15px -3px #ffd200 inset;
}

/* =========== INFO =============== */
.info-item .fs3 {
    margin-top: 1vw;
}
.info-item {
    display: block;
    margin-top: 3vw;
}
.info-item.center img {
    margin: 0 auto;
    width: 90%;
    max-width: 100%;
    height: auto;
    display: block;
}

/* ========= Wordld news ========== */
a.worldnews-item {
    display: inline-block;
    padding: 2% 1%;
    width: 32%;
    vertical-align: top;
}
a.worldnews-item:hover {
    background: #ffd200;
}

.worldnews-item img {
    height: 15vw;
    max-width: 100%;
    width: auto;
}
.slider-for {
    width: 90%;
}
.slider-for .slick-slide {
    height: 40vw;
}
.slider-nav .slick-slide {
    height: 8vw!important;
    margin: 6px;
}
.slider-nav {
    margin: 0 auto;
    width: 90%;
}
.slider-for .slick-prev::before, .slider-for .slick-next::before {
    font-size: 42px!important;
}
.slider-for .slick-next {
    right: 20px;
}
.slider-for .slick-prev {
    left: 20px;
    z-index: 1;
}
.slick-prev::before, .slick-next::before {
    color: #ffd200!important;
    cursor: pointer;
}
.slick-prev, .slick-next {
    width: 36px!important;
    height: 36px!important;
}



.slider-for img {
    height: 100%;
    width: auto;
    margin: 0 auto;
}
.slider-nav img {
    margin: 0 auto;
    max-height: 7em;
    max-width: 100%;
    padding-left: 1.2em;
}

/* ========= Sport ============= */
.sport {
    margin-top: 2vw;
}

/* ========= RADA ============== */
.member-item {
    display: inline-block;
    width: 33%;
    margin-top: 3em;
}
.member-item:nth-child(1), .member-item:nth-child(3){
    margin-top: 7em;
}

/* ========= Museum ============ */
#container.museum {
    width:100%;
    height:350px;
    margin-bottom: 2em;
}