/*animation element*/

.animation-element {
  opacity: 0;
  position: relative;  
}
/*animation element sliding left*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px);
}

.animation-element.slide-up {
  opacity: 0;
  -moz-transition: all 500ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.animation-element.slide-left.in-view,
.animation-element.slide-right.in-view,
.animation-element.slide-up.in-view {  
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}




/* ========== Hover effects =========== */
.y-hov {
  background: transparent;
  color: #999;
  cursor: pointer;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}

.y-hov:hover {
  background: #ffd200;
  color: #444;
}

.w-hov {
  background: transparent;
  color: #999;
  cursor: pointer;
  -moz-transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

.w-hov:hover {
  background: #fff!important;
  color: #444!important; 
}
.w-hov:hover > * {
  color: #444!important;  
}


/* =========== link hover ========= */
.link-hov {
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  text-align: inherit;
}

.link-hov:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #ffd200;
  transition: width .3s ease-in-out;
}

.link-hov:hover:after,
.link-hov:focus:after {
  width: 100%;
}