@media only screen and (min-width:544px) {
    #form .row.last {
        margin-top: 2.6em!important;
    }
}


@media only screen and  (min-width: 751px) and (max-width:788px) {
    .navbar ul {
        margin-right: 0;
    }
}
@media only screen and (min-width: 751px) and (max-width:887px) {
    .navbar.fixed img.logo {
        display: none!important;
    }
}

@media only screen and  (min-width: 751px) and (max-width:957px) {
    .logo {
        top: 51%;
    }
}

@media only screen and (min-width:1600px) {
    .tabs.title {
        width: 100%;
    }
}

@media only screen and (min-width:540px){
    .navbar.fixed {
        position: fixed;
        width:100%;
        box-shadow: 0 0 2px gray;
    }
    .navbar.fixed img.logo {
        display: block;
        max-height: 73px;
        top: 0 !important;
        width: auto;
    }
}

@media only screen and (max-width:991px) {
    .tabs.title {
        padding: 2vw;
    }
    .triangle {
        border-top: 2vw solid transparent;
        border-left: 2vw solid #ffd200;
        border-bottom: 2vw solid transparent;        
    }
    /* --- announcements ----- */
    .announcement-item {
        width: 32%;
    }
    button.navbar-toggler {
        border-radius: 0px;
        box-shadow: 0 0 3px 1px #999 inset;
    }

}
@media only screen and (max-width:750px) {
    .navbar ul {
        margin-right: 0vw;
    }
    .logo {
        top: 45%!important;
        margin-left: 3vw;
    }

    .tabs.title {
        width: 100%;
        padding: 1vw;
    }
    .triangle {
        border-top: 3vw solid transparent;
        border-left: 3vw solid #ffd200;
        border-bottom: 3vw solid transparent;
        right: 0.8vw;
    }
    #footer .icons a {
        font-size: 4vw;
    }
    /* --- announcements ----- */
    .announcement-item {
        width: 49%;
    }
}

@media only screen and (max-width:543px) {
    
    button.navbar-toggler {
        border-radius: 0px;
        box-shadow: 0 0 3px 1px #999 inset;
    }
    #topMenu {
        width: 100%;        
    }
    #topMenu li:first-child {
        margin-top: 1em;
    }
    #topMenu li {
        display: block;
        width: 100%;
        margin-left: 0;
        border-bottom: solid 1px #999;
        padding-left: 1em;        
    }
    #topMenu li:last-child {
        border-bottom: none;
    }
    .logo {
        top: 0!important;        
        max-height: 73px;
        width: auto;
    }

    #header_submenu .submenu-items {
        width: 100%;
        height: auto !important;
    }
    #header_submenu.other .submenu-items {        
        padding: 3% 4%;
    }
    #header_submenu.other .submenu-items a{
        display: block;
        width: 100%;
    }
    .tabs.title {
        width: 100%;
        padding: 1em;
    }
     .triangle {
        visibility: hidden!important;
    }
    .row.small-icons .i-b {
        width: 49%;
    }
    #form form br {
        display: none;
    }
    #form .g-recaptcha > div > div {
        margin: 0 auto;
    }
    .row.last > div {
        margin-top: 1.6em;
    }
    #footer .icons a {
        font-size: 2em;
    }

    /* ---- documents ----- */
    .docs-item.center > img {
        float: left;
    }
    .docs-item {
        background: #fff none repeat scroll 0 0;        
        margin-top: 1em;
        text-align: left;
        width: 100%!important;
    }

    /* --- announcements ----- */
    .announcement-item {
        width: 100%;
    }

    /* ---- information ----- */
    .info-item.center {
        margin-bottom: 2em;
        margin-top: 3em;
    }
    .info-item.center img {
        width: 100%;
    }
    .info-item .date {
        display: block;
        text-align: left;
    }
    .info-item p.fs2 {
        text-align: center;
    }

    /* ========= Wordld news ========== */
    a.worldnews-item {
        display: block;        
        width: 100%;
    }
    .worldnews-item img {
        height: auto;
        max-width: 100%;
        width: 100%;
    }

    /* ============ SPORT =========== */
    .sport .info-item {
        margin: 0;
    }
    .sport {
        margin-bottom: 3em;
    }

    /* ========= RADA ============== */
    .member-item {
        width: 100%;
        margin-top: 3em!important;
    }

}